# Laravel default
/vendor
/node_modules
/public/storage
/storage
/bootstrap/cache

# Laravel environment files
.env
.env.*
!.env.example

# Laravel build files
/public/hot
/public/build
/public/mix-manifest.json

# Laravel test & debug
.phpunit.result.cache
/.phpunit.cache
/storage/*.key
/storage/debugbar/

# IDEs & tools
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# OS & log files
npm-debug.log*
yarn-error.log*
auth.json

# Homestead
Homestead.json
Homestead.yaml

# Other env or backups
.env.backup
.env.production
